apparmor==3.0.0
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==20.1.0
asgiref==3.2.5
asn1crypto==1.4.0
astroid==2.3.3
async-generator==1.10
attrs==19.3.0
autopep8==1.5.1
backcall==0.1.0
bauh==0.9.8
black==19.10b1.dev115+g88d12f8
bleach==3.1.1
btrfsutil==5.9
CacheControl==0.12.6
catfish==1.4.13
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.2.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
Django==3.0.4
docopt==0.6.2
entrypoints==0.3
enumerate-markdown==0.1.0
filelock==3.0.12
flake8==3.8.2
future==0.18.2
greenlet==0.4.16
gufw==20.4.0
h5py==2.10.0
html5lib==1.1
idna==2.10
ipykernel==5.1.4
ipympl==0.5.8
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isc==2.0
isort==4.3.21
Jade-Application-Kit==3.5.6
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
keyutils==0.6
kiwisolver==1.1.0
komodo-python3-dbgp==11.1.1
lazy-object-proxy==1.4.3
LibAppArmor==3.0.0
lockfile==0.12.2
louis==3.15.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mpldatacursor==0.7.1
msgpack==1.0.0
mypy-extensions==0.4.3
nbclient==0.5.0
nbconvert==5.6.1
nbformat==5.0.4
neovim==0.3.1
nest-asyncio==1.4.1
netsnmp-python==1.0a1
nodejs==0.1.1
notebook==6.0.3
npyscreen==4.10.5
numpy==1.18.1
OpenTimelineIO==0.13.0
optional-django==0.1.0
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pandas==0.25.3
pandocfilters==1.4.2
parquet==1.3.1
parso==0.6.2
pathspec==0.8.0
pdfforms==1.2.0
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.6.2
plotly==4.11.0
ply==3.11
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.7.3
ptyprocess==0.6.0
pwquality==1.4.4
pyaaf2==1.4.0
pyaml==20.4.0
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pyflakes==2.2.0
pygame==2.0.0
Pygments==2.5.2
PyGObject==3.38.0
pylint==2.4.4
pynvim==0.4.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyrsistent==0.15.7
pyserial==3.4
PySide2==5.14.2.2
pysmbc==1.0.23
pystage-apt==0.3
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.1.0
PyVISA==1.11.3
PyVISA-py==0.5.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.0
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
regex==2020.5.14
reportlab==3.5.55
requests==2.24.0
resolvelib==0.5.1
retrying==1.3.3
rgw==2.0.0
rope==0.18.0
scipy==1.4.1
seabreeze==1.3.0
Send2Trash==1.5.0
shiboken2==5.14.2.2
sip==4.19.24
six==1.15.0
sqlparse==0.3.1
SSSDConfig==2.4.0
team==1.0
terminado==0.8.3
testpath==0.4.4
thorlabs-apt==0.2
thorpy==1.7
thriftpy2==0.4.12
toml==0.10.2
tornado==6.0.3
traitlets==4.3.3
trash-cli==0.17.1.14
typed-ast==1.4.1
typing-extensions==3.7.4.2
udiskie==2.2.0
ufw==0.36
urllib3==1.25.10
virtualenv==20.0.25
virtualenv-clone==0.5.4
visa==1.0.0
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
